nohup.out
*.tmp
*.lock
*.sra
*.fq
*.fastq
*.2bit
*.fa
*.zip
*.html
*.gff3
*.gtf
*.gz
*.ht2
Genome
SA
SAindex
*.amb
*.ann
*.bwt
*.pac
*.sa
*.bam
*.sam
03_denovo_out/
03_denovo_work/
03_guided_out/
03_guided_work/
